/*index.html 원본파일 태그에 접근할 수 있다.*/

body {
  margin: 0;
  padding: 0;
}

/*모든 내용을 담을 가장 큰 컨테이너*/
.container {
  display: flex;
  justify-content: center;
  background-color: #acffef;
  align-items: center;
  min-height: 100vh;
  height: 100%;
  width: 100%;
}
