.questionContainer {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  img {
    width: 350px;
    height: 300px;
    border-radius: 10px;
  }

  .title {
    width: 600px;
    font-size: 1.3rem;
    line-height: 150%;
  }
}

@media (max-width: 850px) {
  .questionContainer {
    .title {
      font-size: 1rem;
    }
  }
}

@media (max-width: 450px) {
  .questionContainer {
    .title {
      font-size: 14px;
      width: 300px;
    }
  }
}
